bitstring>=4.3.0
charset-normalizer>=2.0.0
chardet>=5.2.0
cryptography>=46.0.7,<47
freetype-py>=2.5.1
hyperscan>=0.7.13
httpx[socks]>=0.27.0
Levenshtein>=0.27.1
numpy>=2.0.2
onnx>=1.21.0
onnxruntime>=1.16.1
opencv-python-headless>=4.10.0.84
orjson>=3.10.14
psutil>=7.0.0
pymupdf>=1.26.7
PyYAML>=6.0.2
pyzstd>=0.17.0
rich>=13.9.4
rtree>=1.4.0
scikit-image>=0.25.2
scikit-learn>=1.7.1
tenacity>=9.0.0
tiktoken>=0.9.0
tqdm>=4.67.1
